[submodule "home/themes/hugo-multi-bootswatch"]
	path = home/themes/hugo-multi-bootswatch
	url = https://github.com/mpas/hugo-multi-bootswatch.git
[submodule "tutorials/themes/hugo-theme-learn"]
	path = tutorials/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "metaviz/themes/hugo-multi-bootswatch"]
	path = metaviz/themes/hugo-multi-bootswatch
	url = https://github.com/mpas/hugo-multi-bootswatch.git
[submodule "polymer-epiviz-chart"]
	path = polymer-epiviz-chart
	url = http://github.com/hcbravolab/epiviz-chart
[submodule "polymer-epiviz-ds"]
	path = polymer-epiviz-ds
	url = http://github.com/hcbravolab/epiviz-data-source
